.item {
  box-shadow: 0 1px 6px -4px rgba(0, 0, 0, 0.75);
  color: #606060;
  background: #f1f1f1;
  margin-top: 15px;
  border: 1px solid lightgrey;
  padding: 10px 15px; }
  .item img {
    max-width: 110px; }

.quantity-bar {
  font-size: 1.4em; }
  .quantity-bar i {
    border-radius: 6px;
    color: #606060; }
    .quantity-bar i:hover {
      padding: 5px;
      color: white;
      background: #179bd7; }

.delete-btn i {
  color: lightgrey;
  font-size: 1.8em; }

.item-header {
  font-size: 1.8em;
  font-weight: bolder; }

.details-link {
  font-size: 1.3em;
  color: #179bd7; }

.item-info {
  margin-top: 6px; }
  .item-info .row {
    padding: 7px 13px;
    align-items: center;
    height: 40px;
    line-height: 26px;
    background: lightgray;
    color: #606060;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em; }
    .item-info .row i {
      margin-right: 6px;
      font-size: 1.2em; }
