.form {
  margin-top: 50px;
  transition: all .3s;
  border: 3px solid #606060;
  color: #606060; }

.form-2 {
  margin-top: 20px;
  transition: all .3s;
  color: #606060; }

.form-body {
  padding: 15px 40px; }

.form-group-1 {
  margin: 0 0 15px 0; }
  .form-group-1 input, .form-group-1 select {
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 5px 10px;
    width: 100%;
    outline: none; }
    .form-group-1 input:focus, .form-group-1 select:focus {
      border: 2px solid #179bd7; }
  .form-group-1 label {
    padding-left: 10px;
    font-size: 1.2em; }

.group-error {
  transition: all .3s; }
  .group-error input, .group-error select {
    border: 2px solid #ff7b7d;
    background: #ffe1e6; }
  .group-error label {
    color: #ff7b7d; }

.submit-btn {
  border: 0;
  background: #606060;
  color: white;
  border-radius: 5px;
  margin: 15px 0 0 0;
  padding: 5px 10px;
  transition: background-color .3s; }
  .submit-btn:hover {
    background: #179bd7; }
  .submit-btn:disabled {
    background: #d7d7d7;
    cursor: no-drop; }

.form-header {
  margin-top: -1px;
  font-size: 1.5em;
  font-weight: bolder;
  color: #179bd7;
  background: #606060;
  padding: 1px 20px; }

.error-label {
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  background: #c70000;
  padding: 0 20px; }

.success-message {
  transition: all .3s;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  background: #008028; }

.error-message {
  transition: all .3s;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  background: #c70000; }

.message-show {
  max-height: 75px;
  padding: 10px; }
