.card-link {
  cursor: pointer; }

.card-body {
  margin: 20px 0;
  max-width: 380px;
  border: 1px solid #cccccc;
  overflow: hidden;
  border-radius: 7px;
  background: white;
  height: 400px; }
  .card-body img {
    max-width: 100%; }
  .card-body:hover .item-info .params {
    transition: max-height 1s ease-in-out;
    max-height: 400px; }

.item-title {
  font-weight: bold; }

.item-price {
  font-weight: bolder;
  font-size: 1.3em;
  color: #009a00; }

.item-info {
  bottom: 0;
  background: white;
  position: absolute;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75); }
  .item-info a {
    color: #606060; }

.params {
  max-height: 0;
  transition: max-height 1s ease-out; }

.color-radio {
  width: 32px;
  height: 32px; }
  .color-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
    .color-radio input:checked ~ .checkmark:after {
      display: block; }
  .color-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%; }
    .color-radio .checkmark::after {
      content: "";
      position: absolute;
      display: none; }
  .color-radio input:checked + .checkmark {
    border: 3px solid #606060; }
