@import "vars";

body {
  background: $bg;
  position: relative;
  margin: 0;
  padding-bottom: 35rem;
}




.pagination {

  .page-active {
    background: $secondaryColor;
    color: white;
  }


  a {

    &:first-child {
      border-left: 1px solid lightgrey;
    }

    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;

    min-width: 40px;
    padding: 5px;
    text-align: center;

    text-decoration: none;
    color: $accent;
  }
}

.submit-btn {
  border: 0;
  background: $secondaryColor;
  color: white;
  border-radius: 5px;
  margin: 15px 0 0 0;
  padding: 6px 0;
  font-size: 1.1em;
  transition: background-color .3s;

  &:disabled {
    background: #d7d7d7;
    cursor: no-drop;
  }
}

@media all and(max-width: 576px){

  .submit-btn {
    padding: 10px auto;
    font-size: 1.6em;
  }
}



// Body classes

.body-dark {
  background: $accent;
}

.body-light {
  background: white;
}

