body {
  background: #e6e6e6; }

.pagination .page-active {
  background: #179bd7;
  color: white; }
.pagination a {
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  min-width: 40px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: #606060; }
  .pagination a:first-child {
    border-left: 1px solid lightgrey; }

.submit-btn {
  border: 0;
  background: #179bd7;
  color: white;
  border-radius: 5px;
  margin: 15px 0 0 0;
  padding: 8px 15px;
  font-size: 1.3em;
  transition: background-color .3s; }
  .submit-btn:disabled {
    background: #d7d7d7;
    cursor: no-drop; }

.auth-form-page {
  background: #606060; }

.adding-page-form {
  background: white; }

.product-page {
  background: white; }

.bg-white {
  background: white; }
