body {
  background: #e6e6e6; }

.to-cart-btn {
  background: #179BD7;
  border: 0;
  padding: 5px 15px 5px 15px;
  font-size: 1.1em;
  color: white;
  cursor: pointer; }

.pagination .page-active {
  background: #179bd7;
  color: white; }
.pagination a {
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  min-width: 40px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: #606060; }
  .pagination a:first-child {
    border-left: 1px solid lightgrey; }

.auth-form-page {
  background: #606060; }

.adding-page-form {
  background: white; }
