.nav-bar {
  z-index: 99999;
  position: relative;
  background: #606060;
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: 0px -9px 25px 12px rgba(0, 0, 0, 0.59); }

.logo {
  display: flex;
  height: 55px;
  background: #179bd7;
  align-items: center; }
  .logo img {
    width: 30px;
    height: auto; }

.nav-link {
  padding: 0; }
  .nav-link .link-content {
    height: 55px;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    align-items: center; }
    .nav-link .link-content img {
      height: 25px;
      width: auto; }
    .nav-link .link-content span {
      margin: 0;
      padding: 4px 0 0 8px;
      font-size: 1.3em;
      font-weight: bold;
      color: white; }
  .nav-link:hover {
    background: #179bd7; }
  .nav-link:hover .item-dropdown {
    display: block; }

.item-dropdown {
  background: #262626;
  width: 100%;
  display: none; }
  .item-dropdown a {
    text-decoration: none;
    display: block;
    padding: 5px 5px 5px 14px;
    color: white;
    font-size: 1.1em; }
    .item-dropdown a:hover {
      background: #179bd7; }

.search-field {
  height: 100%;
  padding: 10px; }
  .search-field input {
    border-radius: 6px;
    padding-right: 10px;
    padding-left: 5px;
    color: white;
    display: inline;
    height: 35px;
    width: 100%;
    background: #606060;
    border: 2px solid white; }
  .search-field img {
    position: absolute;
    top: 19px;
    bottom: 19px;
    right: 18px;
    width: 17px;
    height: 17px; }
  .search-field label {
    display: block;
    height: 100%;
    width: 100%; }

.menu {
  display: none; }

.show-menu {
  display: block; }

@media all and (min-width: 768px) {
  .nav-bar {
    height: 55px; } }
