.nav-bar {
  z-index: 99999;
  position: relative;
  background: #606060;
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: 0px -9px 25px 12px rgba(0, 0, 0, 0.59); }

.logo {
  display: flex;
  height: 55px;
  background: #179bd7;
  align-items: center; }
  .logo img {
    width: 30px;
    height: auto; }

.nav-link {
  padding: 0; }
  .nav-link .link-content {
    height: 55px;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav-link .link-content i {
      color: white;
      font-size: 1.1em; }
    .nav-link .link-content img {
      display: flex;
      height: 25px;
      width: auto; }
    .nav-link .link-content span {
      display: flex;
      margin: 0;
      padding: 4px 0 0 8px;
      font-size: 1.1em;
      font-weight: bold;
      color: white; }
    .nav-link .link-content a {
      color: white; }
  .nav-link:hover {
    cursor: pointer;
    background: #179bd7; }
  .nav-link:hover .item-dropdown {
    display: block; }

.nav-link-active .link-content {
  background: #179bd7; }

.item-dropdown {
  background: #262626;
  width: 100%;
  display: none; }
  .item-dropdown a {
    text-decoration: none;
    display: block;
    padding: 5px 5px 5px 14px;
    color: white;
    font-size: 1.1em; }
    .item-dropdown a:hover {
      background: #179bd7; }

.search-field {
  height: 55px;
  padding: 10px 0;
  position: relative; }
  .search-field ::placeholder {
    color: white; }
  .search-field label {
    position: absolute;
    line-height: 35px;
    vertical-align: middle;
    right: 16px; }
    .search-field label i {
      color: white;
      font-size: 16px; }
  .search-field input {
    transition: all .25s;
    border-radius: 6px;
    padding-right: 20px;
    padding-left: 8px;
    color: white;
    display: inline;
    height: 35px;
    width: 100%;
    background: #606060;
    border: 2px solid white;
    outline: none; }
    .search-field input:focus {
      background: #909090; }
    .search-field input:focus + .item-dropdown, .search-field input:focus + .item-dropdown:focus {
      display: block; }
  .search-field .search-results {
    background: white; }
  .search-field .search-result {
    padding: 4px 8px;
    user-select: none; }
    .search-field .search-result:hover {
      color: white;
      background: #179bd7; }

.menu {
  display: none; }

.show-menu {
  display: block; }

@media all and (min-width: 768px) {
  .nav-bar {
    height: 55px; } }
