@import "vars";

.nav-bar {
  z-index: 99999;
  position: relative;
  background: $accent;
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: 0px -9px 25px 12px rgba(0,0,0,0.59);
}


.logo {
  display: flex;
  height: $navHeight;
  background: $secondaryColor;
  align-items: center;
  img {
    width: 30px;
    height: auto;
  }
}


.nav-link {
  padding: 0;

  .link-content {
    height: $navHeight;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      color: white;
      font-size: 1.3em;
    }

    img {
      display: flex;
      height: 25px;
      width: auto;
    }
    span {
      display: flex;
      margin: 0;
      padding: 4px 0 0 8px;
      font-size: 1.3em;
      font-weight: bold;
      color: white;
    }

    a {
      color: white;
    }
  }

  &:hover {
    cursor: pointer;
    background: $secondaryColor;
  }

  &:hover .item-dropdown {
    display: block;
  }
}

.nav-link-active {
  .link-content {
    background: $secondaryColor;
  }
}

.item-dropdown {
  background: $dropdownBg;
  width: 100%;
  display: none;
  a {
    text-decoration: none;
    display: block;
    padding: 5px 5px 5px 14px;
    color: white;
    font-size: 1.1em;

    &:hover {
      background: $secondaryColor;
    }
  }
}




.search-field {
  height: $navHeight;
  padding: 10px 0;
  position: relative;

  ::placeholder {
    color: white;
  }

  label {
    position: absolute;
    line-height: 35px;
    vertical-align: middle;
    right: 16px;
    i {
      color: white;
      font-size: 16px;
    }
  }

  input {
    transition: all .25s;

    border-radius: 6px;
    padding-right: 20px;
    padding-left: 8px;
    color: white;
    display: inline;
    height: 35px;
    width: 100%;
    background: $accent;
    border: 2px solid white;
    outline: none;

    &:focus {
      background: $accent * 1.5;
    }

    &:focus + .item-dropdown, &:focus + .item-dropdown:focus {
      display: block;
    }
  }

  .search-results {
    background: white;
  }

  .search-result {
    padding: 4px 8px;
    user-select: none;

    &:hover {
      color: white;
      background: $secondaryColor;
    }
  }
}


.menu {
  display: none;
}

.show-menu {
  display: block;
}


@media all and (min-width: 768px){
  .nav-bar {
    height: $navHeight;
  }
}





