.filters {
  background: white;
  border-right: 1px solid lightgray; }

.hide-filters {
  display: none; }

.filters-panel {
  position: sticky;
  top: 20px;
  z-index: 99;
  padding: 8px 15px;
  background: white; }
  .filters-panel button {
    border: 0;
    background: #179bd7;
    color: white;
    padding: 8px 15px; }

@media all and (min-width: 992px) {
  .filters {
    margin-top: 20px;
    position: sticky;
    top: 20px; }

  .filters-panel {
    display: none; }

  .hide-filters {
    display: block; } }
.filters-group {
  margin: 15px 5px;
  border-bottom: 1px solid lightgray; }
  .filters-group .group-name {
    font-weight: bold;
    font-size: 1.2em; }
  .filters-group .group-items {
    font-size: 1.3em;
    font-weight: 300; }
  .filters-group input[type=number] {
    height: 46px;
    background: #e8e8e8;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 8px 10px;
    margin: 8px 0;
    width: 100%;
    outline: none; }
    .filters-group input[type=number]:focus {
      border: 1px solid #606060; }
  .filters-group button {
    margin: 8px 0;
    height: 46px;
    width: 36px;
    border: 0;
    background: #179bd7;
    color: white; }

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 2px;
  margin: 5px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #606060; }

.checkmark:hover {
  transition: 150ms; }

.checkbox-container input:checked ~ .checkmark {
  border-color: #179bd7; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

.checkbox-container .checkmark:after {
  left: 8px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid #179bd7;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
